NEXT_PUBLIC_PRODUCT_API_URL=http://localhost:4001
NEXT_PUBLIC_INVOICE_API_URL=http://localhost:4002
MONOCLOUD_AUTH_TENANT_DOMAIN=https://<your-domain>.<your-region>.monocloud.com
MONOCLOUD_AUTH_CLIENT_ID=<your-client-id>
MONOCLOUD_AUTH_CLIENT_SECRET=<your-client-secret>
MONOCLOUD_AUTH_SCOPES=openid profile email read:invoices read:products
MONOCLOUD_AUTH_APP_URL=http://localhost:3000
MONOCLOUD_AUTH_COOKIE_SECRET=<random-secret>
MONOCLOUD_AUTH_RESOURCE=http://localhost:4001 http://localhost:4002